
<body>
  <h1>Tareas</h1>
  <!--
<form action="/tasks" method="post">
  <label for="nombre_tablero">Nombre del tablero:</label>
  <input type="text" name="nombre_tablero" required>
  
  <label for="circuito">Circuito:</label>
  <input type="text" name="circuito" required>
  
  <label for="lugar">Lugar:</label>
  <input type="text" name="lugar" required>
  
  <label for="fecha">Fecha:</label>
  <input type="date" name="fecha" required>
  
  <label for="descripcion">Descripción:</label>
  <textarea name="descripcion" required></textarea>
 
 <label for="username">Username:</label>
  <input type="text" name="username" required>
  
  <button type="submit">Crear tarea</button>

</form>
-->
<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">

            <div class="card">
                <div class="card-body">
            <form action="/tasksAll" method="POST">
    <div class="form-group">
        <input type="text" name="nombre_tablero" required class="form-control" placeholder="nombre_tablero" autofocus>
    </div>
    <div class="form-group">
        <input type="text" name="circuito" required class="form-control" placeholder="circuito" autofocus>
    </div>
    <div class="form-group">
        <input type="text" name="lugar" required class="form-control" placeholder="lugar" autofocus>
    </div>
    <div class="form-group">
        <input type="date" name="fecha" required class="form-control" placeholder="fecha" autofocus>
    </div>
    <div class="form-group">
        <textarea  name="descripcion" rows="2" class="form-control" placeholder="descripcion"></textarea>
    </div>
    <div class="form-group">
        <input type="text" name="username" required class="form-control" placeholder="username" autofocus>
    </div>
    <div class="form-group">
        <button class="btn btn-success btn-block" type="submit">Crear tarea</button>
    </div>
</form>


<!--
<div class="card">
  <div class="card-body">
    <form action="/tasks" method="post">
      <div class="form-group">
        <label for="nombre_tablero">Nombre del tablero:</label>
        <input type="text" name="nombre_tablero" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="circuito">Circuito:</label>
        <input type="text" name="circuito" class="form-control"  required>
      </div>

      <div class="form-group">
        <label for="lugar">Lugar:</label>
        <input type="text" name="lugar" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="fecha">Fecha:</label>
        <input type="date" name="fecha" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="descripcion">Descripción:</label>
        <textarea name="descripcion" class="form-control"required>
      </div>

      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" name="username" class="form-control"  required>
      </div>

      <button type="submit" class="btn btn-success btn-block ">Crear tarea</button>
    </form>
  </div>
</div>
-->

<h2>Listado de tareas</h2>
<ul>
  {{#each tasks}}
    <li>
      <strong>{{nombre_tablero}}</strong> - {{circuito}} - {{lugar}} - {{fecha}} - {{descripcion}}
    </li>
  {{/each}}
</ul>





<a href="/logout">Cerrar sesión</a>
